[submodule "rule_data/GeoIP2-CN"]
	path = rule_data/GeoIP2-CN
	url = https://github.com/Hackl0us/GeoIP2-CN.git
	branch = release
[submodule "rule_data/domain-list-custom"]
	path = rule_data/domain-list-custom
	url = https://github.com/Loyalsoldier/domain-list-custom.git
	branch = release
[submodule "rule_data/v2ray-rules-dat"]
	path = rule_data/v2ray-rules-dat
	url = https://github.com/Loyalsoldier/v2ray-rules-dat.git
	branch = release
